body {
  background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?w=1060&t=st=1699876419~exp=1699877019~hmac=9058ade63649f71e147978fdd8ca1bf4e7cbbef6bf6d852dc88070118111c65f");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
.main {
  position: relative;
  top: 5%;
  padding: 2%;
  width: 50%;
  height: 80%;
  min-width: 430px;
  border-radius: 10px;
  justify-content: center;
  position: absolute;
  background-color: #f0f0fa;
  min-height: 542px;
}
.left_item {
  position: absolute;
  padding: 30px;
  box-sizing: border-box;
  left: 0;
  width: 50%;
  height: 50%;
  bottom: 0;
  border-bottom-left-radius: 10px;
  flex-direction: column;
  background-color: rgb(65, 194, 194);
  line-height: 30px;
}
.right_item {
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
  right: 0;
  width: 50%;
  height: 50%;
  bottom: 0;
  border-bottom-right-radius: 10px;
  flex-direction: column;
  background-color: cyan;
}
.join {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: #3886ff;
  line-height: 2px;
}
.thrt {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  color: #68dbc0;
}
.explain1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  color: #506981;
}
.mont {
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  color: white;
  top: 0;
  left: 18px;
}
.mo29 {
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.5em;
  color: red;
  left: 10px;
}
.per {
  position: absolute;
  color: rgba(255, 255, 255, 0.582);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  left: 113px;
}
.fullD {
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 50%;
  right: 14px;
  bottom: 40%;
  left: 14px;
}
.sign_up {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: greenyellow;
  border-radius: 5px;
  width: 80%;
  height: 17%;
  bottom: 30px;
  padding: 8px;
  margin-top: 20px;
  box-sizing: border-box;
}
.signBtn {
  /* position: absolute; */
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 1.3em;
  box-sizing: border-box;
  bottom: 30px;
  
}
.wu{
  position: absolute;
  color: #3d8272;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6em;

}
.explain2{
  position: absolute;
  line-height: 10px;
  left: 18px;
  right: 18px;
  color: gray;
  line-height: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.027em;
}